appdirs==1.4.4
bezier==2021.2.12
certifi==2022.9.24
charset-normalizer==2.1.1
fs==2.4.16
future==0.18.2
idna==3.4
ink-extensions==1.1.0
latextools==0.4.6
lxml==4.9.1
numpy==1.23.3
packaging==21.3
plotink==1.7.0
pyparsing==3.0.9
pyserial==3.5
requests==2.28.1
six==1.16.0
tqdm==4.64.1
urllib3==1.26.12
