anyio==3.6.1
axicli==3.5.0
axidrawinternal @ file:///tmp/pip-req-build-1v1ceapz/prebuilt_dependencies/axidrawinternal-3.5.0-py2.py3-none-any.whl
black==22.3.0
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
flake8==4.0.1
future==0.18.2
idna==3.3
ink-extensions==1.1.0
itsdangerous==2.0.1
lxml==4.9.1
MarkupSafe==2.0.1
mccabe==0.6.1
mypy==0.961
mypy-extensions==0.4.3
nulltype==2.3.1
numpy==1.22.4
packaging==21.3
pathspec==0.9.0
platformdirs==2.5.2
plotink==1.6.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.8
pyserial==3.5
python-dateutil==2.8.2
python-dotenv==0.15.0
PyYAML==6.0
requests==2.28.1
rsa==4.8
Shapely==1.8.2
six==1.16.0
sniffio==1.2.0
tomli==2.0.1
tqdm==4.64.0
turtle==0.0.1
typing_extensions==4.2.0
uritemplate==4.1.1
urllib3==1.26.7
watchfiles==0.14.1
websocket-client==1.3.2
Werkzeug==2.0.2
